{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe
{% endblock %}

{% block content %}

	<h1 class="mt-3">Mon compte</h1>


	Bienvenue
	{{app.user.firstname}}
	{{app.user.lastname}}
	- Vous pouvez gérer vos informations personelles<br>

	<a href="{{path('account_password')}}">Modifier mon mot de passe</a>
	<br>
	<a href="{{path('account_address')}}">Gérer mes adresses</a>
	<br>
	<a href="{{path('account_order')}}">Mes commandes</a>


{% endblock %}
