{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - My Boutique
{% endblock %}

{% block content %}
	<h1 class="mt-3">Je passe ma commande</h1>
	<p>Choisissez vos préférences avant de passer votre commande</p>
	<hr>

	<div class="row">
		<div class="col-md-6">
			{% set formHTML %}
			{{form(form)}}
				{% endset %}

				{{ formHTML | replace({'[br]':'<br>','&lt;div&gt;' : '' , '&lt;/div&gt;' : ''}) | raw}}

			</div>

			<div class="col-md-6">

				<table class="table">
					<thead>
						<tr>
							<th scope="col">Produit</th>
							<th scope="col">Nom</th>
							<th scope="col">Quantité</th>
							<th scope="col">Prix</th>
							<th scope="col">Total</th>
						</tr>
					</thead>
					{% set total = null %}
					{% for product in cart %}
						{% set total= total + product.quantity * product.product.price %}
						<tbody>
							<tr>
								<th scope="row">
									<img src="./uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="100px"></th>
								<td>{{product.product.name}}</td>
								<td>
									{{product.quantity}}
								</td>
								<td>{{(product.product.price / 100 | number_format(2))}}
									€</td>
								<th scope="col">{{product.quantity * product.product.price / 100 | number_format(2)}}
									€</th>

							</tr>
						{% endfor %}
					</tbody>
				</table>

				{% if cart | length > 0 %}
					<div class="text-end">
						<b>Nombre de produits:
							{{cart | length}}</b><br>
						<b>Total de mon panier:
							{{(total/100 | number_format(2))}}
							€</b>
					</div>

				{% else %}


					<h2 class="text-center">
						<span class="badge bg-warning">Votre panier est vide</span>
					</h2>


				{% endif %}


			</div>
		</div>
	{% endblock %}
